body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #222;
}

.nav-core ul {
  list-style-type: none;
  padding: 0;
  margin: 14 0;
}

.nav-core li {
  float: left;
}

.nav-core ul li a {
  text-decoration: none;
  display: block;
  padding: 8px;
}

.nav-core ul li a:hover {
  text-decoration: underline;
}

.nav-core ul li a:link,
.nav-core ul li a:visited,
.nav-core ul li a:active {
  color: #222;
}

.nav-top {
  padding-bottom: 27px;
  margin: 30px;
  font-size: 13px;
}

.nav-bottom {
  border-top: 1px solid #e5e4e4;
  height: 40px;
  padding-bottom: 0 0 0 27px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 109px;
  padding-bottom: 30px;
  max-width: 272px;
  max-height: 92px;
}

form {
  text-align: center;
}

form input[type='text'] {
  border-radius: 24px;
  width: 450px;
  height: 20px;
  border: 1px solid #dfe1e5;
}

form input[type='submit'] {
  height: 36px;
  margin: 11px 4px;
  padding: 0px 16px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

footer {
  background-color: #f2f2f2;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
